src/pug/page.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Alpen Barn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
  </head>
  <body>
    <header class="header-wrapper">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-xl-4 col-lg-3 col-6">
            <div class="logo-block"><a class="logo" href="/"><img src="assets/images/logo.png" alt="logo"></a>
              <div class="city-block">
                <p>г. Санкт-Петербург</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 d-none d-lg-block">
            <div class="navmenu">
              <div class="menu-wrap">
                <div class="menu-sidebar">
                  <ul class="menu">
                    <li class="menu-item"><a href="#about">О компании</a></li>
                    <li class="menu-item"><a href="#projects">Проекты</a></li>
                    <li class="menu-item"><a href="#contacts">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-6">
            <div class="contacts-block"><a href="tel:+79319686618"><img src="assets/images/icons/phone.svg" alt="phone"><span>+7 (931) 968-66-18</span></a><a class="d-xl-none" href="#"><img src="assets/images/icons/instagram.svg" alt="instagram"></a></div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="breadcrumbs-block">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="breadcrumbs"><a href="#">Главная</a><a href="#">О нас</a><span>Общая информация</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="page-title">
                <h1>Заголовок</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="main-page-content">
                <p>Содержимое страницы</p>
                <ul>
                  <li>пункт 1</li>
                  <li>пункт 2</li>
                  <li>пункт 3</li>
                  <li>пункт 4</li>
                  <li>пункт 5</li>
                  <li>пункт 6</li>
                  <li>пункт 7</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-6 order-1 order-xl-1">
            <div class="footer-logo"><a href="/"><img src="assets/images/logo-w.png" alt="logo"></a></div>
            <div class="copyright-block d-none d-lg-block">
              <p>© 2021, ALPEN BARN</p>
            </div>
            <div class="text-block">
              <p>Информация, представленная на сайте, не является публичной офертой</p>
            </div>
          </div>
          <div class="col-xl-6 col-12 order-3 order-xl-2">
            <div class="footer-menu-wrapper">
              <div class="footer-menu">
                <h5>меню</h5>
                <ul class="menu">
                  <li class="menu-item"><a href="#about">О компании</a></li>
                  <li class="menu-item"><a href="#projects">Проекты</a></li>
                  <li class="menu-item"><a href="#contacts">Контакты</a></li>
                </ul>
              </div>
              <div class="footer-menu">
                <h5>Проекты</h5>
                <ul class="menu double-menu">
                  <li><a href="#all">Все</a></li>
                  <li><a href="#mansarda">С мансардой</a></li>
                  <li><a href="#one">Одноэтажные</a></li>
                  <li><a href="#three">25–150 кв.м</a></li>
                  <li><a href="#two">Двухэтажные</a></li>
                  <li><a href="#four">150–300 кв.м</a></li>
                </ul>
              </div>
            </div>
            <div class="copyright-block d-lg-none">
              <p>© 2021, ALPEN BARN</p>
            </div>
          </div>
          <div class="col-xl-3 col-6 order-2 order-xl-3">
            <div class="footer-contacts-wrapper">
              <h5 class="d-none d-lg-block">Контакты</h5><a class="phone d-none d-lg-flex" href="tel:+79319686618"><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26ZM20.6522 17.4L20.7298 17.6339C20.9117 18.1805 20.7278 18.9601 20.3211 19.3666L19.2116 20.4762C19.0134 20.6734 18.4331 20.7981 18.4147 20.7981C14.9022 20.8277 11.5209 19.4484 9.03515 16.9627C6.5433 14.4708 5.16199 11.0768 5.2008 7.55404C5.2008 7.55198 5.32748 6.98801 5.52571 6.79084L6.63527 5.68026C7.04188 5.27365 7.82143 5.08972 8.36803 5.27159L8.60199 5.35025C9.14755 5.53213 9.71867 6.1349 9.86988 6.68968L10.4287 8.7402C10.58 9.29599 10.3767 10.0878 9.97002 10.4944L9.22824 11.2362C9.95567 13.9314 12.0695 16.0453 14.7652 16.7737L15.507 16.0319C15.9136 15.6253 16.7064 15.422 17.2622 15.5732L19.3117 16.1331C19.8655 16.2833 20.4683 16.8534 20.6522 17.4Z" fill="white"/><span>+7 (931) 968-66-18</span></a>
              <p class="adress">г. Санкт-Петербург Малый проспект П.С. дом 5 литер Б офис 301–315</p>
              <ul class="social">
                <li><a href="#"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5031 0H12.4969C5.60469 0 0 5.60625 0 12.5C0 15.2344 0.88125 17.7687 2.37969 19.8266L0.821875 24.4703L5.62656 22.9344C7.60313 24.2438 9.96094 25 12.5031 25C19.3953 25 25 19.3922 25 12.5C25 5.60781 19.3953 0 12.5031 0ZM19.7766 17.6516C19.475 18.5031 18.2781 19.2094 17.3234 19.4156C16.6703 19.5547 15.8172 19.6656 12.9453 18.475C9.27187 16.9531 6.90625 13.2203 6.72188 12.9781C6.54531 12.7359 5.2375 11.0016 5.2375 9.20781C5.2375 7.41406 6.14844 6.54063 6.51562 6.16563C6.81719 5.85781 7.31562 5.71719 7.79375 5.71719C7.94844 5.71719 8.0875 5.725 8.2125 5.73125C8.57969 5.74687 8.76406 5.76875 9.00625 6.34844C9.30781 7.075 10.0422 8.86875 10.1297 9.05313C10.2188 9.2375 10.3078 9.4875 10.1828 9.72969C10.0656 9.97969 9.9625 10.0906 9.77812 10.3031C9.59375 10.5156 9.41875 10.6781 9.23438 10.9062C9.06563 11.1047 8.875 11.3172 9.0875 11.6844C9.3 12.0437 10.0344 13.2422 11.1156 14.2047C12.5109 15.4469 13.6422 15.8438 14.0469 16.0125C14.3484 16.1375 14.7078 16.1078 14.9281 15.8734C15.2078 15.5719 15.5531 15.0719 15.9047 14.5797C16.1547 14.2266 16.4703 14.1828 16.8016 14.3078C17.1391 14.425 18.925 15.3078 19.2922 15.4906C19.6594 15.675 19.9016 15.7625 19.9906 15.9172C20.0781 16.0719 20.0781 16.7984 19.7766 17.6516Z" fill="white"/></a></li>
                <li><a href="#"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 25C19.4036 25 25 19.4036 25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 19.4036 5.59644 25 12.5 25ZM19.6103 7.5903C19.7949 8.0651 19.9238 8.61303 19.9589 9.41004C19.9941 10.21 19.9971 10.4649 19.9971 12.5015C19.9971 14.538 19.9882 14.7929 19.9531 15.5929C19.918 16.3899 19.789 16.935 19.6045 17.4126C19.2147 18.4206 18.4177 19.2176 17.4096 19.6073C16.9349 19.792 16.387 19.9209 15.59 19.956C14.79 19.9913 14.5351 20 12.4986 20C10.4621 20 10.207 19.9913 9.40717 19.956C8.61005 19.9209 8.06509 19.792 7.58744 19.6073C7.08929 19.4199 6.6351 19.1239 6.26001 18.7429C5.87908 18.3678 5.58319 17.9166 5.39272 17.4126C5.20809 16.9378 5.07909 16.3899 5.04395 15.5929C5.00881 14.7929 5 14.538 5 12.5015C5 10.4649 5.00881 10.21 5.04693 9.40707C5.08207 8.61006 5.21096 8.0651 5.39558 7.58744C5.58319 7.0893 5.87908 6.63511 6.26001 6.26001C6.6351 5.8761 7.08632 5.58308 7.59041 5.39261C8.06509 5.20809 8.61303 5.07909 9.41003 5.04395C10.21 5.00881 10.4649 5 12.5014 5C14.538 5 14.7929 5.00881 15.5958 5.04693C16.3928 5.08207 16.9379 5.21096 17.4155 5.39559C17.9136 5.58308 18.3678 5.87908 18.7429 6.26001C19.1268 6.63511 19.4198 7.08632 19.6103 7.5903ZM18.3503 16.9262C18.4528 16.6624 18.5759 16.2668 18.6082 15.5343C18.6433 14.7431 18.6521 14.5087 18.6521 12.5073C18.6521 10.5059 18.6433 10.2686 18.6082 9.47746C18.5759 8.74776 18.4528 8.34931 18.3503 8.08559C18.2301 7.76028 18.0396 7.46726 17.7906 7.22402C17.5503 6.97495 17.2543 6.78448 16.9291 6.66441C16.6654 6.56185 16.2698 6.4388 15.5372 6.40652C14.7489 6.37138 14.5116 6.36257 12.5073 6.36257C10.506 6.36257 10.2686 6.37138 9.47745 6.40652C8.74786 6.4388 8.3493 6.56185 8.08558 6.66441C7.76028 6.78448 7.46725 6.97495 7.22413 7.22402C6.97208 7.46439 6.78162 7.76028 6.66143 8.08559C6.55887 8.34931 6.43582 8.74489 6.40366 9.47746C6.36841 10.2657 6.35971 10.5059 6.35971 12.5073C6.35971 14.5087 6.36841 14.7461 6.40366 15.5373C6.43582 16.2668 6.55887 16.6654 6.66143 16.9291C6.78162 17.2543 6.97208 17.5473 7.22116 17.7906C7.46141 18.0397 7.75741 18.2301 8.0826 18.3503C8.34633 18.4529 8.74191 18.5759 9.47447 18.6081C10.2628 18.6433 10.503 18.652 12.5044 18.652C14.5058 18.652 14.7431 18.6433 15.5343 18.6081C16.264 18.5759 16.6624 18.4529 16.9261 18.3503C17.5796 18.0983 18.0982 17.5796 18.3503 16.9262ZM12.5015 8.64819C10.3742 8.64819 8.64819 10.3741 8.64819 12.5015C8.64819 14.6289 10.3742 16.3548 12.5015 16.3548C14.6289 16.3548 16.3548 14.6289 16.3548 12.5015C16.3548 10.3741 14.6289 8.64819 12.5015 8.64819ZM12.5015 15.001C11.1214 15.001 10.002 13.8817 10.002 12.5015C10.002 11.1213 11.1214 10.002 12.5015 10.002C13.8817 10.002 15.001 11.1213 15.001 12.5015C15.001 13.8817 13.8817 15.001 12.5015 15.001ZM16.507 9.39533C17.0039 9.39533 17.4067 8.99253 17.4067 8.49576C17.4067 7.99888 17.0039 7.59619 16.507 7.59619C16.0102 7.59619 15.6074 7.99888 15.6074 8.49576C15.6074 8.99253 16.0102 9.39533 16.507 9.39533Z" fill="white"/></a></li>
                <li><a href="#"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25 12.5C25 5.5957 19.4043 0 12.5 0C5.5957 0 0 5.5957 0 12.5C0 19.4043 5.5957 25 12.5 25C12.5732 25 12.6465 25 12.7197 24.9951V15.2686H10.0342V12.1387H12.7197V9.83398C12.7197 7.16309 14.3506 5.70801 16.7334 5.70801C17.876 5.70801 18.8574 5.79102 19.1406 5.83008V8.62305H17.5C16.2061 8.62305 15.9521 9.23828 15.9521 10.1416V12.1338H19.0527L18.6475 15.2637H15.9521V24.5166C21.1768 23.0176 25 18.208 25 12.5Z" fill="white"/></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div><a href="/" class="scrollup"></a>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/libs.js"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
  </body>
</html>

src/pug/page.pug
//- index.pug
doctype html
html(lang="ru")
    //- Include head
    include ./templates/head.pug
    body
        //- Include header
        include ./templates/header.pug

        main
        	.top-project-part
        		.back-button
        			a(href="#")
        				img(src="assets/images/icons/back.svg" alt="slide1")
        				h1 Alpen barn 61
	            //- Include breadcrumbs
	            include ./templates/breadcrumbs.pug

            .page-content
                .container
                    .row
                        .col-12
                            .page-title
                                h1 Заголовок
                    .row
                        .col-12
                            .main-page-content
                                p Содержимое страницы
                                ul
                                    li
                                        | пункт 1
                                    li
                                        | пункт 2
                                    li
                                        | пункт 3
                                    li
                                        | пункт 4
                                    li
                                        | пункт 5
                                    li
                                        | пункт 6
                                    li
                                        | пункт 7
        //- Include footer
        include ./templates/footer.pug
